$gray: #333;
$gray-light: #ccc;

$primary-color: #fc0fc0;

// navbar

.navbar-light {
  border-bottom: 1px solid $gray-light;

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #666;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.jumbotron {
  background-image: url("../img/111.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.card {
  .card-title {
    font-family: "Lora", serif;
    text-transform: uppercase;
    color: #333;
  }
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    color: #666;
  }
  .card-price {
    font-weight: 600;
    color: $primary-color;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
div.portfolio-item {
  width: 100%;
  height: 250px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
